<div flex layout="row" 
     ng-controller="DetailController as detail">
  <div layout-fill 
              layout-padding
              hide
              show-gt-md
              flex="30">
    <md-grid-list class="grid grey-background" 
                  md-cols="2"
                  md-gutter="0.5em"
                  md-row-height="3:4">
      <md-grid-tile ng-repeat="item in detail.items" 
                    md-colspan="'1'"
                    md-rowspan="'1'">
        <item-card item="item"></item-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="detail"
       flex
       layout-align="space-around center"
       layout-margin
       layout="row"
       layout-sm="column">
    <md-content layout-padding
                flex="40">
      <img ng-src="{{detail.selectedItem.img}}">
    </md-content>
    <md-content layout-padding
                layout="column"
                layout-align="space-around center">
      <div class="md-display-1">
        {{detail.selectedItem.name | uppercase}}
      </div>
      <div>
        {{detail.selectedItem.description}}
      </div>
    </md-content>
  </div>
</div>