crane/app/jspm_packages
crane/node_modules/
crane/bower_components/
file-browser/app/jspm_packages
file-browser/node_modules/
file-browser/bower_components/
pesto/app/jspm_packages
pesto/node_modules/
pesto/bower_components/
publishing/app/jspm_packages
publishing/node_modules/
publishing/bower_components/
shrine/app/jspm_packages
shrine/node_modules/
shrine/bower_components/
logs/*
node_modules/
bower_components/
firebase.json
tmp
.DS_Store
.idea
!.gitkeep
assets/*jpg
assets/*JPG
