.pesto-settings-page {
  background: rgb(0, 137, 111);
}

/* Enter/exit animations don't quite work.
.pesto-settings-page.ng-leave {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation:slideOutLeft 0.5s both ease-in;   
}

.pesto-settings-page.ng-enter {
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;    
}
*/

.pesto-settings-title {
  color: white;
  font-size: 24px;
  position: relative;
  text-align: center;
  top: 10px;
}

.pesto-settings-header .pesto-settings-cancel {
  float: left;
}

.pesto-settings-header .pesto-settings-save {
  float: right;
}

.pesto-settings-content {
  background: white;
  display: inline-block;
  margin-top: 25px;
  text-align: left;
  width: 80%;
  max-width: 500px;
}

.pesto-settings-section-title {
  border-bottom: 1px solid #ccc;
  color: rgb(25, 166, 139);
  font-size: 16px;
  padding-bottom: 10px;
  margin: 16px 16px 0 16px;
}

.pesto-settings-account-name {
  color: rgb(25, 166, 139);
  font-size: 24px;
  margin: 16px 16px 0 16px;
}

.pesto-settings-content md-list-item {
  color: #666;
}

.pesto-settings-content md-list-item.selected {
  color: rgb(25, 166, 139);
}

.pesto-settings-content .pesto-switch-row {
  display: none;
}

@media screen and (max-width: 600px) {
  .pesto-settings-content {
    margin-top: 10px;
    width: 100%;
    max-width: inherit;
  }

  .pesto-settings-content .pesto-switch-row {
    display: inherit;
  }
  .pesto-settings-content .pesto-checkbox-row {
    display: none;
  }

}