<settings-view>
  <div class="header">
    <md-button class="md-icon-button icon-right" aria-label="Back" ng-click="settings.close($event)">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
    <div class="title">
      Settings
    </div>
  </div>
  <section class="card-info">
    <ul>
      <li class="option-item" ng-repeat="setting_opt in settings.settings_data">
        <div class="option-header" ng-click="settings.toggleContent($event, setting_opt)">
          <p ng-class="{ 'active': setting_opt.show_content_default || !settings.isSmallDeviceScreen()}">{{setting_opt.name}}</p>
          <span class="flex"></span>
          <md-button class="md-icon-button icon-right" aria-label="Hide content" ng-if="settings.isSmallDeviceScreen()">
            <md-icon class="material-icons" ng-if="setting_opt.show_content_default">keyboard_arrow_up</md-icon>
            <md-icon class="material-icons" ng-if="!setting_opt.show_content_default">keyboard_arrow_down</md-icon>
          </md-button>
        </div>
        <div class="option-content" ng-if="setting_opt.show_content_default || !settings.isSmallDeviceScreen()">
          <div class="user-info" ng-if="setting_opt.extra_info">
            <span class="avatar"></span>
            <span>{{setting_opt.extra_info.user_name}}</span>
          </div>
          <md-list>
            <md-list-item ng-repeat="opt in setting_opt.options">
              <p ng-class="{ 'active': opt.value == true }">{{opt.name}}</p>
              <md-checkbox class="md-secondary" ng-model="opt.value" ng-if="!settings.isSmallDeviceScreen()"></md-checkbox>
              <md-switch class="md-secondary" ng-model="opt.value" ng-if="settings.isSmallDeviceScreen()"></md-switch>
            </md-list-item>
          </md-list>
        </div>
      </li>
    </ul>
    <div class="action-buttons">
      <span flex></span>
      <md-button ng-click="settings.close($event)">Cancel</md-button>
      <md-button class="md-raised md-primary" ng-click="settings.close($event)">Save</md-button>
    </div>
  </section>
</settings-view>