<main-view>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="home.openSidenav($event)" aria-label="Menu" ng-show="{{ home.viewport.current.display == 'mobile' }}">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <div class="logo-container">
        <img class="logo" ng-src="{{(home.viewport.current.minWidth < 840 || home.viewport.current.display == 'mobile') && 'https://www.gstatic.com/angular/material-adaptive/shrine/shrine_logo.svg' || 'https://www.gstatic.com/angular/material-adaptive/shrine/shrine_logo_withicon.svg'}}" ng-class="{ 'mobile': (home.viewport.current.minWidth < 840 || home.viewport.current.display == 'mobile') }">
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Add to cart" aria-label="Shopping cart">
        <md-icon class="material-icons">shopping_cart</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More options" aria-label="More">
        <md-icon class="material-icons">more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-tabs md-selected="home.selectedIndex" md-dynamic-height md-border-bottom md-swipe-content="{{ home.viewport.current.display == 'mobile' }}" ng-class="{ 'no-show': home.viewport.current.display == 'mobile' }">
    <md-tab label="{{ hero.category }}" ng-repeat="hero in home.heros">
      <md-content class="md-padding">
        <div class="hero-image featured">
          <div class="image" style="background-image: url('{{ hero.imageUrl }}')"></div>
          <div class="info">
            <h3>{{ hero.title }}</h3>
            <div class="description">
              <div class="description-flex">
                <span flex></span>
                <div class="description-content">
                  <p>{{ hero.quote }}</p>

                  <div class="store-info">
                    <div class="avatar">
                      <img ng-src="{{ hero.storeAvatarUrl }}">
                    </div>
                    <p>{{ hero.storeName }}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="price-tag">
            <p>{{ hero.price }}</p>
          </div>
        </div>

        <grid-layout grid-name="'homeView'" show-details="true" reshuffle="true"></grid-layout>
      </md-content>
    </md-tab>
  </md-tabs>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="primary" md-is-locked-open="home.mdMedia('gt-md')" ng-show="{{ home.viewport.current.display == 'mobile' }}">
    <div class="header">
      <div class="avatar-container">
        <div class="image"></div>
      </div>
      <div class="contact-info">
        <p class="name">Jonathan</p>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Settings" style="margin: 0; padding: 0;">
        <md-icon class="material-icons">settings</md-icon>
      </md-button>
    </div>
    <md-content layout-padding>
      <ul class="options">
        <li ng-repeat="hero in home.heros" ng-click="home.goToCategory($event, hero.category)" ng-class="{ 'selected': home.isCategorySelected(hero.category) }">{{ hero.category }}</li>
      </ul>
    </md-content>
    <div class="social-container">
       <md-button class="md-icon-button" aria-label="Twitter link">
         <img ng-src="https://www.gstatic.com/angular/material-adaptive/shrine/twitter.svg"/>
       </md-button>
       <md-button class="md-icon-button" aria-label="Facebook link">
         <img ng-src="https://www.gstatic.com/angular/material-adaptive/shrine/facebook.svg"/>
       </md-button>
    </div>
  </md-sidenav>

  <sidenav-backdrop ng-click="home.hideSidenav($event)" ng-show="{{ home.viewport.current.display == 'mobile' }}"></sidenav-backdrop>
</main-view>