<md-toolbar class="md-tall"></md-toolbar>
<md-card class="search-card">
  <md-card-content>
    <form ng-submit="homeCtrl.goToSearch()">
      <md-radio-group ng-model="homeCtrl.roundTrip" class="md-primary options-inline">
        <md-radio-button value="true">Round Trip</md-radio-button>
        <md-radio-button value="false">One Way</md-radio-button>
      </md-radio-group>
      <md-autocomplete
          class="city-search"
          md-selected-item="homeCtrl.fromCity"
          md-search-text="homeCtrl.fromCitySearch"
          md-items="item in homeCtrl.getMatchingCities(homeCtrl.fromCitySearch)"
          md-item-text="item.display"
          md-floating-label="From"
          md-min-length="0">
        <md-item-template>
          <span md-highlight-text="homeCtrl.fromCitySearch"
                md-highlight-flags="^i">
            {{item.display}}
          </span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{homeCtrl.fromCitySearch}}".
        </md-not-found>
      </md-autocomplete>
      <md-autocomplete
          class="city-search"
          md-selected-item="homeCtrl.toCity"
          md-search-text="homeCtrl.toCitySearch"
          md-items="item in homeCtrl.getMatchingCities(homeCtrl.toCitySearch)"
          md-item-text="item.display"
          md-floating-label="To"
          md-min-length="0">
        <md-item-template>
          <span md-highlight-text="homeCtrl.toCitySearch"
                md-highlight-flags="^i">
            {{item.display}}
          </span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{homeCtrl.toCitySearch}}".
        </md-not-found>
      </md-autocomplete>
      <md-button class="md-icon-button" labelledby="multiple_destinations_text">
        <md-icon class="material-icons">add_box</md-icon>
      </md-button>
      <span id="multiple_destinations_text">
        Multiple Destinations
      </span>
      <div layout="row"
           class="space-between"
           layout-align="space-between center">
        <md-datepicker ng-model="homeCtrl.departDate"
                       md-placeholder="Depart Date">
        </md-datepicker>
        <md-select flex ng-model="homeCtrl.departTime" placeholder="Time">
          <md-option>Morning</md-option>
          <md-option>Afternoon</md-option>
          <md-option>Evening</md-option>
        </md-select>
      </div>
      <div ng-if="homeCtrl.roundTrip == 'true'"
           class="space-between"
           layout="row"
           layout-align="space-between center">
        <md-datepicker ng-model="homeCtrl.returnDate"
                       md-placeholder="Return date">
        </md-datepicker>
        <md-select flex ng-model="homeCtrl.returnTime" placeholder="Time">
          <md-option>Morning</md-option>
          <md-option>Afternoon</md-option>
          <md-option>Evening</md-option>
        </md-select>
      </div>
      <div class="md-actions" layout="row" layout-align="end">
        <md-button class="md-raised md-accent" type="submit">
         Search
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>

<md-content flex layout="column" layout-md="row" layout-fill>
  <div class="destination" layout-fill
       ng-repeat="city in homeCtrl.cities"
       style="background-image: url(//www.gstatic.com/angular/material-adaptive/crane/{{city.image}})">
    <div class="price-badge" layout="row" layout-align="end center"
         ng-click="homeCtrl.toCity = city.display">
      ${{$index * 50 + 299}}
      <div class="more">
        <div class="city">{{city.display}}</div>
        Flight and hotel
      </div>
    </div>
  </div>
</md-content>
