<div flex layout="column">
  <md-toolbar layout="row" layout-wrap layout-align="space-between start"
      class="md-primary md-hue-3">
    <div flex-order="1">
      <md-button class="md-icon-button" aria-label="Settings"
          ng-click="application.leftOpen = !application.leftOpen">
        <md-icon ng-if="!application.leftOpen" md-svg-icon="menu" ></md-icon>
        <md-icon ng-if="application.leftOpen" md-svg-icon="back" ></md-icon>
      </md-button>
    </div>
    <h1 flex-order-gt-sm="2" flex-sm="100" flex-order="3">
      ZUPERKÜLBLOG
    </h1>
    <div flex-order-gt-sm="3" flex-order="2">
      <md-button class="md-icon-button" aria-label="Details"
          ng-click="application.rightOpen = !application.rightOpen">
        <md-icon ng-if="application.hasListView && !application.rightOpen" md-svg-icon="list"></md-icon>
        <md-icon ng-if="application.hasComments && !application.rightOpen" md-svg-icon="message"></md-icon>
        <md-icon ng-if="application.rightOpen" md-svg-icon="right"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div class="fab-top" ng-if="application.fabPosition() == 'top'"
      ng-include="'src/articles/view/fab-menu.html'">
  </div>

  <section layout="row" flex class="container">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 left-sidenav" md-component-id="left"
        md-is-open="application.leftOpen" md-is-locked-open="application.leftOpen && !$mdMedia('sm')"
        layout="column">
      <md-content class="md-hue-2" layout="column" layout-fill flex layout-align="start start">
        <md-button class="md-primary" layout-fill
            ng-click="application.openMenu(item)" ng-repeat="item in application.menuItems">
          {{ item }} 
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex layout="row" ng-include="application.content">
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 right-sidenav"
        ng-class="{'full-right': application.sm()}"
        md-component-id="right" md-is-open="application.rightOpen"
        md-is-locked-open="application.rightOpen && !application.sm()"
        layout="column">
        <md-button ng-if="application.sm()"
            ng-click="application.rightOpen = false" class="md-icon-button">
          <md-icon md-svg-icon="right"></md-icon>
        </md-button>
      <md-content class="md-hue-1" layout="column" layout-fill flex layout-align="start start" 
          ng-include="application.rightSideNav">
      </md-content>
    </md-sidenav>
  </section>

  <div class="fab-bottom" ng-if="application.fabPosition() == 'bottom'">
    <md-button class="fab md-primary md-hue-2 md-raised md-fab" md-menu-origin 
        ng-click="application.openBottomSheet($event)" aria-label="Share">
    <md-icon md-svg-icon="forward"></md-icon>
  </div>

</div>
