<div class="articles"
    flex-lg="80" offset-lg="10"
    flex-gt-lg="60" offset-gt-lg="20"
    offset="0" flex="100">
  <md-grid-list
         md-cols="8"
         md-row-height="1:1"
         md-gutter="1.5em"
         md-cols-sm="1"
         md-row-height-sm="4:3"
         md-gutter-sm="1em">
    <md-grid-tile ng-repeat="it in actrl.articles"
                  class="summary md-whiteframe-z2"
                  md-rowspan="{{it.rowspan || 3}}"
                  md-colspan="{{it.colspan || 4}}"
                  md-rowspan-sm="1"
                  md-colspan-sm="1">
      <a class="summary-image" flex ng-href="#/{{it.id}}">
        <img src="assets/png/{{it.id}}.png"></img>
      </a>
      <md-grid-tile-footer layout="row"
          ng-style="{'background-color': it.color}"
          layout-align="center center">
        <h1>{{it.title}}</h1>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
<div>
