<md-bottom-sheet class="md-list">
  <md-list>
    <md-list-item>
      <md-button class="md-list-item-content">
        <md-icon md-svg-icon="email"></md-icon>
        <span class="md-inline-list-icon-label">Mail</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
        <md-icon md-svg-icon="message"></md-icon>
        <span class="md-inline-list-icon-label">Message</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
        <md-icon md-svg-icon="hangout"></md-icon>
        <span class="md-inline-list-icon-label">Hangout</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content">
        <md-icon md-svg-icon="googleplus"></md-icon>
        <span class="md-inline-list-icon-label">Google+</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
