<md-menu class="fab-menu"md-position-mode="target-right target">
  <md-button class="fab md-primary md-hue-2 md-raised md-fab" md-menu-origin 
      ng-click="$mdOpenMenu($event)" aria-label="Share">
    <md-icon md-svg-icon="forward"></md-icon>
  </md-button>
  <md-menu-content width="3">
    <md-menu-item>
      <md-button md-menu-align-target>
        <md-icon md-svg-icon="email"></md-icon>
        Mail
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <md-icon md-svg-icon="message"></md-icon>
        Message
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <md-icon md-svg-icon="hangout"></md-icon>
        Hangout
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <md-icon md-svg-icon="googleplus"></md-icon>
        Google+
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
