<md-card
    flex-sm="100" offset-sm="0"
    ng-class="'flex-gt-sm-'+sctrl.flex()+' offset-gt-sm-'+sctrl.offset()"
    md-margin class="subject-card md-whiteframe-z2">
  <img src="assets/png/{{sctrl.article.id}}.png"></img>

  <div class="fab-content" ng-if="application.fabPosition() == 'content'"
      ng-include="'src/articles/view/fab-menu.html'">
  </div>

  <md-card-content>
    <h3>{{sctrl.article.name}}</h3>
    <h1 ng-style="{'color': sctrl.article.color}">{{sctrl.article.title}}</h1>
    <h3>{{sctrl.formatDate()}}</h3>
    <md-divider></md-divider>
    <h2> {{sctrl.article.summary}} </h2>
    <p>{{sctrl.article.content}}</p>
  </md-card-content>
</md-card>
