html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0;
}

/* Blue text default everywhere */
.search-card,
.search-card md-input-container label,
.search-card md-icon,
.search-card .md-datepicker-expand-triangle,
.search-card .md-datepicker-input,
.search-card md-input-container:not(.md-input-invalid).md-input-has-value label,
.search-card md-input-container .md-input,
.search-card md-select .md-select-value.md-select-placeholder,
.search-card .md-button.md-accent.md-raised
{
  color: #1E5488;
  font-weight: bold;
}

.md-datepicker-expand-triangle,
.md-datepicker-triangle-button:hover .md-datepicker-expand-triangle {
  border-top-color: #1E5488;
}

::-webkit-input-placeholder {
  color: #1E5488;
  font-weight: bold;
}

::-moz-placeholder {
  color: #1E5488;
  font-weight: bold;
}

:-ms-input-placeholder {
  color: #1E5488;
  font-weight: bold;
}

/* Tighten up md-selects, since we don't have validation errors or floating
 * labels on them */
md-select {
  margin: 0;
}

md-card.search-card {
  width: 345px;
  position: absolute;
  left: 120px;
  top: 90px;
  z-index: 10;
}

md-autocomplete.city-search {
  font-size: 38px;
  font-weight: bold;
}

md-autocomplete.city-search:first-of-type {
  margin-top: 20px;
}

md-autocomplete.city-search md-input-container .md-input {
  line-height: inherit;
  height: auto;
}

md-autocomplete.city-search md-input-container label {
  transform: translate3d(0, 45px, 0) scale(1);
}

md-toolbar.md-tall.extra-tall {
  height: 230px;
  min-height: 300px;
  max-height: 300px;
}

md-radio-group.options-inline > md-radio-button {
  display: inline-block;
}

div.price-badge {
  background: linear-gradient(rgba(0, 0, 0, .4),
                              rgba(0, 0, 0, .2) 30%,
                              transparent);
  color: white;
  font-weight: bold;
  font-size: 45px;
  padding: 50px;
  outline: none;
  cursor: pointer;
}
div.price-badge:focus {
  color: rgba(255, 255, 255, .8);
}

div.price-badge > div.more {
  font-size: 10px;
  color: rgba(255, 255, 255, .5);
  padding-left: 6px;
}

div.price-badge div.city {
  font-size: 25px;
}

.space-between > :not(:last-child) {
  margin-right: 10px;
}

.destination {
  background-size: cover;
  background-position: center;
  min-width: 100%;
}

.seat-picker {
  padding: 24px;
}

.seat-picker button.md-icon-button {
  margin: -4px;
}
.seat-picker button.md-icon-button md-icon {
  width: auto;
  height: auto;
  font-size: 32px;
  color: rgba(0, 0, 0, .25);
}

md-tabs {
  border-radius: 0;
}

md-dialog {
  max-width: 512px;
}

md-dialog .md-button.selected md-icon {
  border: solid #888 1px;
}

ng-view, md-content.layout-fill {
  min-height: calc(100% - 128px);
  height: calc(100% - 128px);
}

@media (max-width: 960px) {
  ng-view {
    min-height: calc(100% - 64px);
    height: calc(100% - 64px);
  }
}
