<div class="seat-picker">
  <div layout="row" ng-repeat="i in [1,2,3,4]">
    <md-button class="md-icon-button"
               ng-class="{'md-primary': 7 * (i * j) % 11 < 6,
                          'md-accent': 7 * (i * j) % 11 < 2,
                          'selected': selected}"
               ng-click="selected = !selected"
               ng-repeat="j in [1,2,3,4,5,6,7,8,9,10]">
      <md-icon class="material-icons">stop</md-icon>
    </md-button>
  </div>
</div>
<md-dialog-actions>
  <md-button class="md-primary" ng-click="dialogCtrl.$mdDialog.hide()">
    Continue
  </md-button>
</md-dialog-actions>
