html, body {
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 275%;
  margin: 0.5em;
}

h3 {
  text-align: center;
  font-size: 85%;
  color: #9E9E9E; /* gray 500 */
  font-weight: normal;
  letter-spacing: 0.2em;
  word-spacing: 0.4em;
}

h2 {
  font-size: 135%;
  font-weight: normal;
}

md-toolbar h1 {
  font-size: 56px;
  font-weight: 900;
  margin: 8px 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  md-toolbar {
    z-index: 61 !important;
    background-color: transparent !important;
    mix-blend-mode: difference;
  }
  md-toolbar h1 {
    font-size: 35px;
    margin: 0;
  }
  md-toolbar * {
    color: white !important;
  }
}

.summary {
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.summary h1 {
  font-size: 200%;
}

.summary-image {
  height: calc(100% - 48px);
  margin-bottom: 48px;
}

.summary-image > img {
  height: 100%;
  width: 100%;
}

.container {
  border-top: solid 1px rgba(0,0,0, 0.16);
}

.articles {
  padding: 1.5em;
}

@media only screen and (max-width: 600px) {
  .articles {
    padding: 0.75em;
  }
}

/* Hacks for sidenav */
md-sidenav.md-locked-open.left-sidenav,
md-sidenav.md-locked-open.right-sidenav {
  max-width: 200px;
  width: 200px;
  min-width: 200px;
}

md-sidenav.md-closed.md-locked-open-add-active.left-sidenav,
md-sidenav.md-closed.md-locked-open-add-active.right-sidenav {
  width: 200px;
  min-width: 200px;
}

.left-sidenav button.md-button {
  text-transform: none;
  text-align: left;
  font-weight: 700;
  margin: 6px 0px;
  padding: 0 1.5em;
}

.full-right {
  min-width: 100%;
  z-index: 62 !important;
}

@media only screen and (max-width: 600px) {
  .left-sidenav button.md-button {
    font-size: 16px;
    margin: 0px;
  }
  .left-sidenav md-content {
    padding-top: 120px;
  }
}

.subject-card {
  margin: 60px 0;
}

.subject-card > img {
  max-height: 300px;
}

.subject-card > h1 {
  margin: 0;
}

.fab {
  transform: rotateY(180deg);
}

.fab-top {
  z-index: 3;
}

.fab-top > .fab-menu {
  right: 65px !important;
  margin-top: -40px !important;
  position: absolute !important;
}

.fab-content {
  position: relative;
}

.fab-content > .fab-menu {
  right: 15px !important;
  margin-top: -40px !important;
  position: absolute !important;
}

.fab-bottom {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.fab-bottom > .fab {
  right: 15px !important;
  bottom: 15px !important;
  position: absolute !important;
}

.md-inline-list-icon-label {
  padding-left: 1.5em;
  text-transform: none;
  font-weight: normal;
  font-size: 130%;
}

md-bottom-sheet.md-list md-list-item {
    height: auto;
    min-height: initial;
}

.comment {
  background-color: white;
  margin: 0 1em;
  padding: 0.9em !important;
  word-spacing: 0.02em;
}

.comment:not(:last-child) {
  border-bottom: solid 1px rgba(0,0,0,0.12);
}

.comment p {
  font-size: 80% !important;
}

.comment md-list-item {
  padding: 0 !important;
}

.comment h2 {
  font-size: 100%;
  color: rgba(0,0,0,0.50);
  text-align: start;
}

.addComment {
  margin-bottom: 2em;
}

.addComment textarea {
  width: 100%;
  border: none;
  resize: none;
}

.commentActions {
  margin-top: 0.5em
}

.comment h3 {
  text-align: start !important;
  font-size: 95% !important;
  font-weight: bold !important;
  margin: 0 !important;
}

.comment h4 {
  font-size: 90% !important;
  color: #9E9E9E !important;
}

.addComment button.md-button {
  font-size: 100%;
  margin: 0;
  min-width: initial;
  line-height: 1.5em;
  min-height: 2em;
  color: rgba(0,0,0,0.50);
}
