<div class="price-tag" ng-show="card.showDetails">
  <p>{{ card.item.price }}</p>
</div>
<div class="product-container"
  flex
  layout-align="space-around center"
  layout="row"
  layout-sm="column">
  <md-content class="product-image">
    <img ng-src="{{ card.item.imageUrl }}" />
  </md-content>
</div>
<div class="card-footer" style="height: {{ card.footerHeight }}" ng-show="card.showDetails">
  <div class="store-info">
    <div class="avatar">
      <img ng-src="{{ card.item.storeAvatarUrl }}" />
    </div>
    <p>{{ card.item.storeName }}</p>
  </div>
</div>
<div class="backdrop" ng-show="card.showDetails">
  <div class="header">
    <md-button class="md-icon-button" aria-label="Add to cart" ng-click="card.addItemToCart(item, $event)" ng-class="{ 'added': card.item.addedToCard }">
      <md-icon class="material-icons">shopping_cart</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="card.addItemToFavs(item, $event)" ng-class="{ 'added': card.item.addedToFavs }">
      <md-icon class="material-icons">favorite</md-icon>
    </md-button>
  </div>
  <div class="container">
    <h4>{{ card.item.title }} </h4>
  </div>
  <div class="footer" style="height: {{ card.footerHeight }}"></div>
</div>
