<details-view>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Back to homepage" ng-click="detail.goToHomepage($event)">
        <md-icon class="material-icons">arrow_back</md-icon>
      </md-button>
      <div class="logo-container">
        <img class="logo" src="https://www.gstatic.com/angular/material-adaptive/shrine/shrine_logo_withicon.svg">
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Add to cart" ng-click="wau()">
        <md-icon class="material-icons">shopping_cart</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More options" ng-click="wau()">
        <md-icon class="material-icons">more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div class="details-container">
    <div class="items-container">
      <grid-layout grid-name="'detailView'"></grid-layout>
    </div>
    <div class="main-container">
      <md-content class="image-content">
        <img ng-src="{{detail.selectedItem.imageUrl}}">
      </md-content>
      <md-content class="info-content">
        <h3 flex class="md-display-1">
          {{detail.selectedItem.title}}
        </h3>
        <div flex class="description">
          {{detail.selectedItem.description}}
        </div>
        <div layout="row" class="select-content">
          <md-select ng-model="quantitySelected"
                     placeholder="Select a quantity">
              <md-option ng-repeat="(i, quantity) in [1, 2, 3, 4, 5]" ng-value="quantity"
                   ng-selected="i == 0 ? true:false">Quantity {{quantity}}</md-option>
          </md-select>
          <span flex></span>
          <md-button class="md-fab"
                    ng-disabled="!quantitySelected"
                    aria-label="Add to cart" ng-class="{ 'mobile' : detail.currentViewport.display === 'mobile' && detail.currentViewport.minWidth <= 600}">
            <md-icon class="material-icons">add_shopping_cart</md-icon>
          </md-button>
          <span flex></span>
        </div>
        <div class="store-details">
          <h5>{{detail.selectedItem.storeName}}</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <md-button class="md-icon-button info-btn" aria-label="Info item" ng-click="wau()">
          <md-icon class="material-icons" style="color: rgba(255, 223, 223, 1)">info_outline</md-icon>
        </md-button>
      </md-content>
    </div>
  </div>
</details-view>