<div class="white-background frame-view"
     md-swipe-right="ctrl.handleSwap('open')"
     md-swipe-left="ctrl.handleSwap('close')">
  <md-toolbar layout="column"
              class="md-medium md-menu-toolbar"
              id="maintoolbar">
    <!-- Top Toolbar -->
    <div flex layout="row">
      <span class="left-buttons" flex="35">
        <md-button ng-if="!ctrl.isDetailView"
                   class="md-icon-button"
                   ng-click="ctrl.toggleMenu()"
                   aria-label="Show Category List">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

        <md-button ng-if="ctrl.isDetailView"
                   class="md-icon-button"
                   ng-click="ctrl.goBack()"
                   aria-label="Go Back">
          <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
      </span>

      <span flex layout-padding layout-fill>
        <span class="logo-branding"
              hide-xs
              layout="row"
              layout-align="center center">
          <md-icon md-svg-icon="logo"
                   style="height:1.25em; width:1.25em; margin-right:15px;"
                   aria-label="Logo"></md-icon>
          <p>SHRINE</p>
        </span>
      </span>

      <span class="right-buttons" flex="40" layout="row">
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Show Search Dialog"
                   ng-click="ctrl.openSearch()">
          <md-icon class="material-icons">search</md-icon>
        </md-button>

        <md-button class="md-icon-button"
                   ng-click="ctrl.acknowledgeAction('shopping_cart')"
                   aria-label="Show Shopping Cart">
          <md-icon class="material-icons">shopping_cart</md-icon>
        </md-button>

        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open menu"
                     class="md-icon-button"
                     ng-click="ctrl.openMenu($mdOpenMenu, $event) || $mdOpenMenu($event)">
            <md-icon class="material-icons">more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="option in ctrl.sharingOptions">
              <md-button ng-click="ctrl.acknowledgeAction(option.icon)">
                  <md-icon class="material-icons" ng-show="{{ option.materialIcon }}">{{ option.icon }}</md-icon>
                  <img ng-src="{{ option.icon }}" ng-show="{{ !option.materialIcon }}"/>
                  {{ option.label }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </span>
    </div>

    <!-- Current Category -->
    <!-- <div hide-gt-xs
         class="header-bottom-border"
         ng-style="sideNavOpen ? {'border-bottom-color': 'transparent'} : ''"
         layout="row"
         flex>
      <h1 class="md-display-2"
          flex flex-offset="10">
        {{ctrl.currentCategory().name}}
      </h1>
    </div> -->
  </md-toolbar >

  <!-- Selection Tabs -->
  <md-tabs hide 
           show-gt-xs
           md-selected="ctrl.selectedIdx">
    <md-tab ng-repeat="category in ctrl.categories"
            ng-click="ctrl.selectCategory(category)"
            label="{{category.name}}">
            <md-tab-body></md-tab-body>
    </md-tab>
  </md-tabs>

  <!-- SideNav -->
  <md-sidenav layout="column"
              md-is-open="sideNavOpen"
              md-component-id="left"
              class="md-sidenav-left grey-background">
    <md-toolbar class="sidenav-header md-menu-toolbar"
                layout="column"
                layout-padding
                layout-align="center center">
      <span class="logo-branding">
        <md-icon md-svg-icon="logo"
                 style="height:85px; width:85px;"
                 aria-label="Logo"></md-icon>
        <p>SHRINE</p>
      </span>
    </md-toolbar>
    <md-content flex>
      <md-list>
        <md-list-item ng-repeat="(idx, category) in ctrl.categories"
                      ng-click="ctrl.selectCategory(category)">
          <md-title>{{category.name}}</md-title>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <md-content flex
              class="grey-background"
              ui-view="main"></md-content>
</div>
