html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

html {
  overflow-y: scroll;
}

md-tabs md-ink-bar {
  background: black
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding-top:10px;
}

.grid {
  background-color: #F3F3F3;
}

.grid md-grid-tile {
  background-color: white;
  overflow: hidden;
}

.grid img.tile {
  max-width: 100%;
}

md-icon.checked {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
