@material_dark: rgba(0, 0, 0, 0.54);
@material_gray: rgba(0, 0, 0, 0.2);

@keyUmbraOpacity: 0.2;
@keyPenumbraOpacity: 0.14;
@ambientShadowOpacity: 0.12;

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}


/**
 * Mixins
 */
.shadow-2dp {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, @keyUmbraOpacity),
              0 2px 2px 0 rgba(0, 0, 0, @keyPenumbraOpacity),
              0 1px 5px 0 rgba(0, 0, 0, @ambientShadowOpacity);
}

.shadow-3dp {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, @keyUmbraOpacity),
              0 3px 4px 0 rgba(0, 0, 0, @keyPenumbraOpacity),
              0 1px 8px 0 rgba(0, 0, 0, @ambientShadowOpacity);
}

.shadow-4dp {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, @keyUmbraOpacity),
              0 4px 5px 0 rgba(0, 0, 0, @keyPenumbraOpacity), 
              0 1px 10px 0 rgba(0, 0, 0, @ambientShadowOpacity);
}

.shadow-6dp {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, @keyUmbraOpacity),
              0 6px 10px 0 rgba(0, 0, 0, @keyPenumbraOpacity),
              0 1px 18px 0 rgba(0, 0, 0, @ambientShadowOpacity);
}

.shadow-8dp {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, @keyUmbraOpacity),
              0 8px 10px 1px rgba(0, 0, 0, @keyPenumbraOpacity), 
              0 3px 14px 2px rgba(0, 0, 0, @ambientShadowOpacity);
}

.shadow-16dp {
  box-shadow: 0  8px 10px -5px rgba(0, 0, 0, @keyUmbraOpacity),
              0 16px 24px 2px rgba(0, 0, 0, @keyPenumbraOpacity),
              0  6px 30px 5px rgba(0, 0, 0, @ambientShadowOpacity);
}

/**
 * Common Components
 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(0,0,0, .3);
  border: 1px solid #eee;
  -webkit-border-radius: 6px;
}

div[ui-view="frame"], md-content[ui-view="main"], .frame-view {
  height: inherit;
}

.shrine-app {
  .md-button.md-icon-button {
    margin: 6px;
  }

  md-menu-content {
    .md-button {
      img {
        height: auto;
        margin: auto 16px auto 0;
        width: 24px;
        vertical-align: middle;
      }
    }
  }

  md-bottom-sheet {
    padding-left: 0;
    padding-right: 0;

    md-list {
      padding: 10px 0;

      .md-button {
        img {
          height: auto;
          margin: auto 32px auto 0;
          width: 24px;
          vertical-align: middle;
        }
      }
    }
  }

  md-select {
    border: 1px solid @material_gray;
    height: 35px;
    margin: 25px 0 20px;
    padding: 0px 0px 5px 10px;
    width: 180px;

    .md-select-value {
      border: none;
      padding-bottom: 0;

      span {
        color: @material_dark;
        font-size: 14px;
      }
    }

    &:not([disabled]):focus {
      padding-bottom: 5px;

      .md-select-value {
        border-bottom: none;
      }
    }
  }
}

[ui-view="main"] {
  // padding: 10px 10px 0 10px;
}

md-tabs md-ink-bar {
  background: #18FFFF
}

.md-button.fixed-position-fab-button {
  bottom: 10px;
  position: fixed;
  right: 10px;
}

.grey-background {
  background: #F3F3F3;
}

.white-background { 
  background: #FFF;
}

.grid md-grid-tile {
  background-color: white;
  overflow: hidden;

  &.mobile {
    .shadow-2dp;

    &:active {
      .shadow-8dp;
    }
  }
}

.header-bottom-border {
  border-bottom: solid #18FFFF 3px;
}

.detail img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.detail {
  background: white;
}

/**
 * Item Card
 */

.shrine-app {
  item-card {
    height: 100%;
    width: 100%;
  }
  .item-card {
    background: white;
    overflow: inherit;
    position: relative;
  }

  .item-card md-icon {
    bottom: 7.5%;
    position: absolute;
    right: 7.5%;
    z-index: 11;
  }

  .item-card-img {
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;

    &.mobile {
      .shadow-2dp;

      &:active {
        .shadow-8dp;
      }
    }
  }

  .item-card-img img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}

/**
 * Sharing Menu
 */
md-bottom-sheet .sharing-menu-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

md-bottom-sheet md-list-item {
  min-height: 48px; 
}

md-toolbar.sidenav-header {
  margin-bottom: 8px !important;
  padding: 16px;
}

.logo-branding > * {
  margin: 0;
}

.logo-branding {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #8D8D8D;
  font-size: 150%;
}

md-toolbar .right-buttons .md-menu,
md-toolbar .left-buttons .md-menu{
  margin: 0;
}



/**
 * Sharing Menu
 */
.shrine-app .debug-msg-view {
  background-color: rgba(0,0,0,.4);
  color: #fff;
  height: 21px;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &:before {
    content: "Normal";
    position: absolute;
    height: 20px;
    width: 100%;
  }
}


/**
 * Detail view
 */
.shrine-view-detail {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;

  md-toolbar.md-menu-toolbar {
    border-bottom: none;
    z-index: 100;
  }

  &.scroll md-toolbar.md-menu-toolbar {
    .shadow-2dp;
  }

  .logo-branding {
    display: none;
  }

  md-tabs {
    display: none;
  }

  .detail-view {
    height: ~'calc(100% - 70px)';
    overflow-y: auto;

    &.mobile, &.noscroll {
      overflow-y: hidden;
    }
  }

  .main-view {
    height: 100%;

    &.semi-detail {
      height: ~'calc(100% - 200px)';
    }

    &.full-detail {
      height: 100%;
    }
  }

  .nav-left {
    direction:rtl;
    margin: 8px 0;
    padding: 25px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .nav-bottom {
    height: 200px;
    margin: 50px 80px;

    hor-list {
      display: block;
      height: inherit;
      margin: 0 25px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-y: hidden;
      padding: 20px 0;
      white-space:nowrap;

      hor-tile {
        display: inline-block;
        height: 175px;
        margin: 0 10px;
        width: 200px;
      }
    }

    &.mobile {
      margin: 0;
    }
  }

  .detail {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    // justify-content: flex-start;
    overflow: hidden;

    .image-content {
      align-items: center;
      display: flex;
      max-height: 450px;
      overflow: hidden;
      // width: 30%;
      
      margin: 0 30px;
      width: 40%;

      img {
        width: auto;
      } 
    

      .bg-img {
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
      }
    }

    .info-content {
      // margin: 0 15% 0 0;
      margin: 0;
        max-width: 350px;
      width: auto;
      overflow: hidden;
      // width: 40%;

      .name {
        font-family: 'Abril Fatface', cursive;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .description {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        line-height: 23px;
      }
    }

    .select-content {
      align-items: center;

      .md-fab {
        background-color: rgba(49, 240, 239, 1);
        height: 56px;
        width: 56px;

        &[disabled] {
          background-color: rgba(0,0,0,0.12);
          cursor: not-allowed;
        }

        &.mobile {
          bottom: 25px;
          right: 25px;
          position: fixed;
        }
      }
    }

  }

  



}


/**
 * Media queries
 */

/*** Desktop queries ***/

/* Window XXLG - 1600px */
@media only screen
  and (min-width: 1600px) {

  .shrine-app .debug-msg-view:before {
    content: "Window XXLG";
  }

  .shrine-view-detail {
    md-toolbar.md-menu-toolbar {
      border-bottom: 1px solid @material_gray;
    }

    .nav-left {
      padding: 25px 1.5%;
    }

    .detail {
      flex-direction: row;

      .image-content {
        margin-left: 30px;
        width: 29%;

        img {
          width: auto;
        }
      } 

      .info-content {
        margin-left: 2%;
      }
    }
  }
}

/* Window XLG - 1440px */
@media only screen
  and (max-width: 1599px)
  and (min-width: 1440px) {

  .shrine-app .debug-msg-view:before {
    content: "Window XLG";
  }

  .shrine-view-detail {
    md-toolbar.md-menu-toolbar {
      border-bottom: 1px solid @material_gray;
    }

    .nav-left {
      padding: 25px 1.5%;
    }

    .detail {
      flex-direction: row;

      .image-content {
        margin-left: 30px;
        width: 29%;

        img {
          width: auto;
        }
      } 

      .info-content {
        margin-left: 2%;
      }
    }
  }
}


/* Window LG - 1280px  */
@media only screen
  and (max-width: 1439px)
  and (min-width: 1280px) {

  .shrine-app .debug-msg-view:before {
    content: "Window LG";
  }

  .shrine-view-detail {
    md-toolbar.md-menu-toolbar {
      border-bottom: 1px solid @material_gray;
    }

    .nav-left {
      padding: 25px 2.35%;
    }


    .detail {
      flex-direction: row;

      .image-content {
        margin-left: 30px;
        width: 29%;

        img {
          width: auto;
        }
      } 

      .info-content {
        margin-left: 2%;
      }
    }
  }
}


/* Window MED - 960px */
@media only screen
  and (max-width: 1023px)
  and (min-width: 960px) {

  .shrine-app .debug-msg-view:before {
    content: "Window MED";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: row;

      .info-content {
        max-width: 350px;
      }

      .image-content {
        margin-left: 30px;
        width: 29%;

        img {
          width: auto;
        }
      }
    }
  }
}


/* Window SM - 840px */
@media only screen
  and (max-width: 959px)
  and (min-width: 840px) {

  .shrine-app .debug-msg-view:before {
    content: "Window SM";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: row;
      justify-content: center;

      .info-content {
        max-width: 350px;
      }

      .image-content {
        margin: 0 30px;
        width: 29%;

        img {
          width: auto;
        }
      }
    }
  }
}


/* Window XSM - 600px */
@media only screen
  and (max-width: 719px)
  and (min-width: 600px) {

  .shrine-app .debug-msg-view:before {
    content: "Window XSM";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: row;
      justify-content: center;

      .info-content {
        max-width: 350px;
      }

      .image-content {
        margin: 0 30px;
        width: 29%;

        img {
          width: auto;
        }
      }
    }
  }
}


/* Window XS - 480px */
@media only screen
  and (max-width: 599px)
  and (min-width: 480px) {

  .shrine-app .debug-msg-view:before {
    content: "Window XS";
  }

  .shrine-view-detail {

    .detail-view {
      overflow: auto;
    }

    .detail-view, .main-view.semi-detail {
      height: 100%;
    }

    .detail {
      flex-direction: column;
      justify-content: center;

      .info-content {
        margin: 0;
        max-width: 350px;
        width: auto;
      }

      .image-content {
        height: 350px;
        margin: 0 30px;
        width: 40%;

        img {
          width: auto;
        }
      }
    }
  }
}


/*** Mobile queries ***/

/* Tablet Landscape - 1024px */
@media only screen
  and (max-width: 1279px)
  and (min-width: 1024px) {

  .shrine-app .debug-msg-view:before {
    content: "Tablet Landscape";
  }

  .shrine-view-detail {
    md-toolbar.md-menu-toolbar {
      border-bottom: 1px solid @material_gray;
    }


    .detail {
      flex-direction: row;

      .image-content {
        margin-left: 30px;
        width: 29%;

        img {
          width: auto;
        }
      } 

      .info-content {
        margin-left: 2%;
      }
    }
  }
}


/* Tablet Portrait - 720px */
@media only screen
  and (max-width: 839px)
  and (min-width: 720px) {

  .shrine-app .debug-msg-view:before {
    content: "Tablet Portrait";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: row;
      justify-content: center;

      .info-content {
        max-width: 350px;
      }

      .image-content {
        margin: 0 30px;
        width: 29%;

        img {
          width: auto;
        }
      }
    }
  }
}


/* Handset Landscape - 600px */
@media only screen
  and (max-width: 600px)
  and (min-width: 0)
  and (orientation: landscape) {

  .shrine-app .debug-msg-view:before {
    content: "Handset Landscape";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: row;
      justify-content: center;

      .info-content {
        max-width: 350px;
      }

      .image-content {
        margin: 0 30px;
        width: 29%;

        img {
          width: auto;
        }
      }
    }
  }
}


/* Handset Portrait - 360px */
@media only screen 
  and (max-width: 360px) {

  .shrine-app .debug-msg-view:before {
    content: "Handset Portrait";
  }

  .shrine-view-detail {
    .detail {
      flex-direction: column;
      justify-content: center;

      .info-content {
        margin: 0;
        max-width: 250px;
        width: auto;

        .name {
          font-size: 23px;
        }

        .description {
          font-size: 9px;
          line-height: 13px;
        }
      }

      .image-content {
        height: 350px;
        margin: 0 30px;
        width: 40%;

        img {
          width: auto;
        }
      }
    }
  }
}

