<div class="header-bottom-border">
  <md-toolbar layout="column"
              class="md-medium md-menu-toolbar"
              id="maintoolbar">
    <div flex layout="row">
      <!-- According to spec, hide the back button in desktop views. -->
      <md-button hide-lg
                 class="md-icon-button"
                 ng-click="search.goBack()"
                 aria-label="Go Back">
        <md-icon md-svg-icon="back"></md-icon>
      </md-button>
      <!-- Needed so the row still takes up space when the button is hidden. -->
  </div>

    <!-- Search Box -->
    <md-toolbar class="md-menu-toolbar">
      <div layout="row" flex>
        <md-input-container flex flex-offset="10">
          <label>SEARCH</label>
          <input type="text" ng-model='search.$state.params.searchTerm'
                             ng-model-options="{ debounce: 200 }">
        </md-input-container>
        <span hide-sm flex='33'></span>
        <span flex='5'></span>
      </div>
  </md-toolbar>

</div>

<md-content flex
            class="grey-background"
            ui-view="main"></md-content>
