<div class="pesto-page pesto-recipe-page">
  <div class="pesto-recipe-background-image"
       ng-animate-ref="{{'recipe' + detail.recipeId}}"
       ng-style="{'background-image': 'url(' + detail.recipe.imageUrl + ')'}">
  </div>

  <div class="pesto-recipe-layout">
    <div class="pesto-recipe-header">
      <md-button class="pesto-menu md-icon-button" aria-label="Close" ng-click="detail.goBack()">
        <md-icon md-svg-icon="assets/pesto-arrow-back.svg"></md-icon>
      </md-button>
    </div>
    
    <div class="pesto-recipe-content">
      <!-- <span class="anchortest" ng-animate-ref="test1">Hello</span> -->
      <div class="pesto-recipe-table">
      
        <div class="pesto-recipe-row">
          <div class="pesto-recipe-col"></div>
          <div class="pesto-recipe-col pesto-recipe-name">{{detail.recipe.name}}</div>
        </div>

        <div class="pesto-recipe-row">
          <div class="pesto-recipe-col"></div>
          <div class="pesto-recipe-col pesto-recipe-description">{{detail.recipe.description}}</div>
        </div>

        <div class="pesto-recipe-row" ng-repeat="ingredient in detail.recipe.ingredients">
          <div class="pesto-recipe-col pesto-ingredient-amount">{{ingredient.amount}}</div>
          <div class="pesto-recipe-col pesto-ingredient-description">{{ingredient.description}}</div>
        </div>

        <div class="pesto-recipe-row" ng-repeat="step in detail.recipe.steps">
          <div class="pesto-recipe-col pesto-step-duration">{{step.duration}} {{step.unit}}</div>
          <div class="pesto-recipe-col pesto-step-description">{{step.description}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
