<details-view>
  <div class="header">
    <div class="actions-left">
    	<md-button class="md-icon-button icon-right" aria-label="Back" ng-click="detail.goBack($event)">
      	<md-icon class="material-icons">arrow_back</md-icon>
    	</md-button>
    </div>
    <span class="flex"></span>
    <div class="actions-right">
      <md-button class="md-icon-button icon-right" aria-label="Timer">
        <md-icon class="material-icons">timer</md-icon>
      </md-button>
      <md-button class="md-icon-button icon-right" aria-label="Share">
        <md-icon class="material-icons">share</md-icon>
      </md-button>
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open menu" class="md-icon-button" ng-click="detail.openMenu($mdOpenMenu, $event)">
          <md-icon class="material-icons">more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="item in detail.menuItems">
            <md-button ng-click="detail.redial($event)">
              <md-icon class="material-icons" ng-show="{{ item.materialIcon }}">{{ item.icon }}</md-icon>
              <img ng-src="{{!item.materialIcon && item.icon || ''}}" ng-show="!item.materialIcon"/>
              {{ item.name }}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
  <div id="animate-card" class="card-info">
    <div class="main-container">
      <div class="main-info">
        <span><img class="info-ingredients" src="{{detail.recipe.ingredientsImageUrl}}"/></span>
        <div class="text">
          <div class="title">{{ detail.recipe.name }}</div>
          <div class="descr editable">{{ detail.recipe.description }}</div>
        </div>
      </div>
      <div class="ingredients">
        <ul>
        	<li ng-repeat="ingr in detail.recipe.ingredients">
        		<span class="lbs editable">{{ingr.amount}}</span>
        		<span class="name editable">{{ingr.description}}</span>
        	</li>
        </ul>
      </div>
    </div>
    <adaptive-controls>
    	<md-button class="md-fab details-fab" aria-label="Favorite" ng-click="detail.toggleFavorite($event)">
		    <md-icon class="material-icons" ng-show="!detail.isFavorite()">favorite_border</md-icon>
        <md-icon class="material-icons" ng-show="detail.isFavorite()">favorite</md-icon>
		  </md-button>
    </adaptive-controls>
  </div>
  <div class="bg" back-img="{{detail.recipe.mainImageUrl}}"></div>
  <img imageonload ng-src="{{detail.recipe.mainImageUrl}}" style="display: none;">
</details-view>