<main-view>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button icon-right" aria-label="Menu" ng-click="home.openSidenav($event)">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <logo-container></logo-container>
      <span flex></span>
      <md-button class="md-icon-button icon-right" aria-label="Search">
        <md-icon class="material-icons">search</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <section id="main-section">
    <layout-cards>
        <card-element ng-repeat="card in home.recipes" style="background-image: url('{{card.mainImageUrl}}')">
          <md-button class="card-button" ng-click="home.goToCard($event, card.id)" aria-label="{{card.name}}"></md-button>
          <div class="card-info">
            <span>
              <img ng-src="{{card.ingredientsImageUrl}}">
            </span>
            <p ng-click="home.goToCard($event, card.id)" class="title">{{card.name}}</p>
            <div class="author">{{card.author}}</div>
          </div>
        </card-element>
    </layout-cards>
  </section>

  <adaptive-controls>
    <md-button class="md-fab main-fab" aria-label="Edit">
      <md-icon class="material-icons">edit</md-icon>
    </md-button>
  </adaptive-controls>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="primary" md-is-locked-open="home.mdMedia('gt-md')">
    <!-- <md-toolbar class="md-theme-indigo header">
      <div class="image"></div>
    </md-toolbar> -->
    <div class="header">
      <div class="avatar-container">
        <div class="image"></div>
      </div>
      <div class="contact-info">
        <p class="name">Jonathan</p>
        <p class="email">heyfromjonathan@gmail.com</p>
      </div>
    </div>
    <md-content layout-padding>
      <ul class="options">
        <li class="selected">Home</li>
        <li disabled>Favorite</li>
        <li disabled>Saved</li>
        <li disabled>Trending</li>
        <li ng-click="home.goTo($event, '/settings')">Settings</li>
      </ul>
    </md-content>
  </md-sidenav>

  <sidenav-backdrop ng-click="home.hideSidenav($event)"></sidenav-backdrop>
</main-view>