.pesto-home-page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

/**
 * Needed so that the ng-anchor-out animation (see below) has time to run.
 */
.pesto-home-page.ng-leave {
  transition:0.1s linear all;
}

.pesto-home-header {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  overflow-x: hidden;
}

.pesto-home-header .pesto-menu {
  float: left;
}

.pesto-home-header .pesto-search {
  float: right;
}

.pesto-home-header .pesto-search md-input-container {
  display: inline-block;
  padding-bottom: 0;
}

.pesto-search-controls.ng-enter {
  position: relative;
  left: 300px;
  transition:0.25s linear all;
  opacity:0;
}

.pesto-search-controls.ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
}

.pesto-search-controls.ng-leave {
  transition: 0.25s linear all;
}

.pesto-search-controls.ng-leave.ng-leave-active {
  opacity: 0;
}

img.pesto-sticky-logo {
  position: fixed;
  width: 0;
  height: 0;
}

/**
 * When the search bar is visible, hide the floating logo on small screens
 * so it doesn't draw over the search.
 */
.pesto-small-screen img.pesto-sticky-logo.search-visible {
  display: none;
}

.pesto-home-banner {
  background: rgb(0, 170, 141);
}

.pesto-home-banner.bottom {
  padding-top: 8px;
}

.pesto-sidebar-header {
  background: rgb(0, 170, 141);
  text-align: left;
}

.pesto-home-scrollable {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: auto;
}

.pesto-home-grid-container {
  background: rgb(0, 137, 111);
  padding: 10px;
}

.pesto-home-grid {
  display: inline-block;
  max-width: 720px;
  width: 90%;
}

.pesto-small-screen .pesto-home-grid {
  max-width: 350px;
}

img.pesto-banner-top {
  width: 20%;
  max-width: 76px;
}

img.pesto-banner-bottom {
  width: 50%;
  max-width: 190px;
}

.pesto-home-grid md-grid-tile {
  cursor: pointer;
  max-width: 350px;
  padding: 5px;
}

.pesto-home-grid md-grid-tile img.pesto-recipe-grid-image {
  height: 250px;
  width: 100%;
}

div.pesto-recipe-grid-image {
  background-size: cover;
  width: 100%;
  height: 100%;
}

/**
 * Triggers when switching to the recipe detail view.
 */
div.pesto-recipe-grid-image.ng-anchor-out {
  transition:0.1s linear all;
  
  transform: scale(3.0);
  opacity: 0.5;
}

.pesto-home-grid md-grid-tile-footer {
  background: white;
  color: #333;
  padding-left: 16px;
  text-align: left;
}

/**
 * Material spec wants 16px of space at top, which is about what we get
 * by default here.
 */
div.recipe-tile-footer {
  margin-top: 0;
}

/**
 * Apparently this is hard-coded to 48px, material spec for grid footer is 68px.
 * https://spec.googleplex.com/quantum/components/grid-lists.html#grid-lists-specs
 */
.pesto-home-grid md-grid-tile-footer {
  height: 68px;
}

.pesto-home-grid md-grid-tile-footer .pesto-recipe-icon {
  display: inline-block;
  padding-right: 16px;
  vertical-align: top;
}

.pesto-home-grid md-grid-tile-footer .pesto-recipe-icon img {
  width: 26px;
}

.pesto-home-grid md-grid-tile-footer .pesto-recipe-info {
  display: inline-block;
}

.pesto-recipe-title {
  color: #333;
  font-size: 16px;
}

.pesto-recipe-author {
  color: #888;
  font-size: 12px;
  padding-top: 5px;
}

button.pesto-new-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
}