<md-sidenav md-component-id="left" class="md-sidenav-left">
  <div class="pesto-sidebar-header">
    <md-button class="pesto-menu md-icon-button" aria-label="Close" ng-click="home.toggleSideNav()">
      <md-icon md-svg-icon="assets/pesto-arrow-back.svg"></md-icon>
    </md-button>
  </div>
  <!--
    Apparently md-list-items aren't supposed to be interactive:
    https://github.com/angular/material/issues/904 . But this is works well, and it doesn't
    seem reasonable to try to manually replicate the md-list layout.
  -->
  <md-list>
    <md-list-item>Home</md-list-item>
    <md-list-item>Favorite</md-list-item>
    <md-list-item>Saved</md-list-item>
    <md-list-item>Trending</md-list-item>
    <md-list-item ng-click="home.gotoSettings()">Settings</md-list-item>
  </md-list>
</md-sidenav>

<div class="pesto-home-header">
  <md-button class="pesto-menu md-icon-button" ng-click="home.toggleSideNav()">
    <md-icon md-svg-icon="assets/pesto-menu.svg" aria-label="Menu"></md-icon>
  </md-button>
  <span class="pesto-search">
    <span class="pesto-search-controls" ng-if="home.isSearchVisible">
      <md-input-container md-no-float>
        <input type="text" ng-change="home.fetchRecipes()" ng-model="home.searchString" placeholder="Search" />
      </md-input-container>
      <md-icon ng-click="home.clearSearch()" md-svg-icon="assets/pesto-cancel.svg" aria-label="Clear"></md-icon>
    </span>
    <md-button class="md-icon-button" ng-click="home.toggleSearchVisible()">
      <md-icon md-svg-icon="assets/pesto-search.svg" aria-label="Search"></md-icon>
    </md-button>
  </span>
</div>

<img ng-hide="home.isSearchVisible && home.isScreenSmall()"
    class="pesto-sticky-logo" src="assets/pesto-banner-top.png" />

<div class="pesto-home-scrollable">
  <div class="pesto-home-banner top">
    <img class="pesto-banner-top" src="assets/pesto-banner-top.png">
  </div>
  <div class="pesto-home-banner bottom">
    <img class="pesto-banner-bottom" src="assets/pesto-banner-bottom.png">
  </div>

  <md-divider></md-divider>
  
  <div class="pesto-home-grid-container">
    <div class="pesto-home-grid" ng-class="{small: home.isScreenSmall()}">
      <!-- How to make height scale to content size? "fit" doesn't work. -->
      <!-- On Firefox, the images aren't scaled so the background shows through. -->
      <md-grid-list md-cols="2" md-cols-sm="1" md-row-height="250px" md-gutter="8px">
        <md-grid-tile ng-repeat="recipe in home.recipes" ng-click="home.gotoRecipe(recipe)">
          <div>
            <img class="recipe-image" ng-src="{{recipe.imageUrl}}" />
          </div>
          <md-grid-tile-footer class="recipe-info">
            <div class="pesto-recipe-title">{{recipe.name}}</div>
            <div class="pesto-recipe-author">by {{recipe.author}}</div>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>

<!-- Floating action button, should this change position for desktop/mobile? -->
<md-button class="md-fab pesto-new-button" aria-label="New Recipe">
  <md-icon md-svg-src="assets/pesto-add.svg"></md-icon>
</md-button>

